name: Deploy to VPS

on:
  push:
    branches: [main]

jobs:
  checkout:
    runs-on: ubuntu-latest
    outputs:
      commit: ${{ steps.get_commit.outputs.sha }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        id: get_commit

  docker:
    needs: checkout
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/gamatrain-llm:latest -f Dockerfile.production .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/gamatrain-llm:latest

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: SSH deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ~/gamatrain-llm
            docker compose -f docker-compose.production.yml pull
            docker compose -f docker-compose.production.yml up -d
